* {
    padding: 0;
    border: 0;
    text-decoration: none !important;
    font-family: 'Inter', sans-serif;
    color: #392620;

}

body {

    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.card {
    width: 30rem;
    background-color: beige;
    position: relative;

}

.card__img {
    object-fit: cover;
    height: 11rem;
    max-height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Dancing Script', cursive;
}
p{
    font-size: 12px;
}
.sheila {
    border: 10px solid beige;
    border-radius: 50%;
    width: 150px;
    position: absolute;
    left: calc(50% - 75px);
    top: calc(176px - 75px);
}
.sheila>img {
    border-radius: 50%;
    width: 130px;
}
.card_nome {
    margin-top: 70px;
}
.redes>ul {
    padding: 0;
}
.redes>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes>ul>li>a {
    border-radius: 30px;
    color: black;
    margin: 5px;
    border: 1px solid black;
    width: 70%;
    padding: 5px;
    text-align: center;
}
.redes>ul>li>a>i {

    margin-right: 10px;
}

.instagram:hover {
    background-color: #3f729b;
    color: beige;
}

.linkedin:hover {
    background-color: #0e76a8;
    color: beige;
}

.facebook:hover {
    background-color: #3b5998;
    color: beige;
}

.whatsapp:hover {
    background-color: #25D366;
    color: beige;
}

.youtube:hover {
    background-color: #c4302b;
    color: beige;
}

.globe:hover {
    background-color: #6c0bbc;
    color: beige;
}
@media screen and (max-width: 575px) {
    body {
        background-image: none;
    }

}